div.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 2%;
    width: 100%;
}
.clearfix {
    overflow: auto;
}
.aloha-logo {
    height: 100px;
    max-width: 100%;
    width: 15%;
}
.cart-logo {
    height: 65px;
    padding: 1%;
    width: 7%;
}
.white {
    color: #ffffff;
}
.grey-color {
    color: #969696;
}
.padding {
    padding-right: 60px;
}
.orange {
    color: #e2574c;
    font-size: 25px;
}
ul {
    list-style-type: none;
}
.clothes {
}
.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.247) 0%, rgba(0, 0, 0, 0.247) 100%), url("assets/images/banner-girl.png"), url("assets/images/flower-bkgd.jpg");
    background-position: center top, 50% 100px;
    background-repeat: repeat-x, no-repeat;
    background-size: contain, auto auto;
    height: 975px;
    max-height: 975px;
    overflow: hidden;
    top: 65px;
    width: 100%;
}
@font-face {
    font-family: "myFirstFont";
    src: url("assets/fonts/PlayfairDisplay-Regular.otf");
}
.center {
    text-align: center;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d7d7d7 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
body {
    font-size: 16px;
}
.floatleft {
    float: left;
    overflow: hidden;
}
.logo {
    display: inline-block;
}
.floatright {
    float: right;
    overflow: hidden;
}
.h1 {
    color: white;
    font-size: 60px;
}
.font-size {
    color: #2d2d2d;
    font-size: 20px;
    text-align: center;
}
.h2 {
    color: white;
    font-family: myFirstFont;
    font-size: 30px;
    padding-top: 310px;
}
h3 {
    font-family: mySecondFont;
    font-size: 40px;
    text-align: center;
}
div {
    font-family: myFirstFont;
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 2%;
    width: 100%;
}
.container2 {
    width: 25%;
}
.section {
    background-image: url("assets/images/wave-bkgd.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#image.container {
    float: left;
}
.input {
border-radius: 31px;
-moz-border-radius: 31px;
-webkit-border-radius: 31px;
border: 0px solid #FFFFFF;
}
.clothes {
    text-align: center;
}
.Product {
    text-align: center;
}
.Price {
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    margin: 20px 0;
    overflow: hidden;
    padding: 20px;
}
div.clothes {
    display: inline-block;
    width: 23%;
}

.visibledevice {display:none;}
.visibledesktop {display:display;}

@media only screen and (max-width: 599px) {
  .visibledevice {display:inline-block;}
  .visibledesktop {display:none;}
  full-for-mobile{
    width:auto}
    div.clothes{
         display:inline;
         width: 23%
       }
       body{
         font-size:14px;}
       img {
       max-width: 100%
  @media (max-width : 320px) {
    .visibledevice {display:inline;}
  .visibledesktop {display:none;}
  div.clothes{
       display:inline;
       width: 23%
     }
  body{
    font-size:14px;}
  img {
  max-width: 100%
}
tablet

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .visibledevice {display:inline-block;}
  .visibledesktop {display:none;}
  full-for-mobile{
    width:auto}
    div.clothes{
         display:inline;
         width: 23%
       }
       body{
         font-size:14px;}
       img {
       max-width: 100%
  @media (max-width : 320px) {
    .visibledevice {display:inline;}
  .visibledesktop {display:none;}
  div.clothes{
       display:inline;
       width: 44%
     }
  body{
    font-size:14px;}
  img {
  max-width: 100%
